*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
}

body {
    background: white;
    background-image: url('../images/UPANG2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    padding: 1.5%;
}

.header {
    display: grid;
    grid-template-columns: 125px 1fr 1fr;
    width: 100%;
}

.logo {
    width: 100px;
}

h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: rgb(169, 9, 9);
}

.logout {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon {
    height: 30px;             
    width: 30px;                 
    border-radius: 5px;          
    cursor: pointer;             
    margin-left: auto;          
}

.icon.log {
    border-radius: 15px;
    padding: 0px;
}

.icon:hover {
    background-color: rgb(218, 218, 218);
}

.icon:active {
    background-color: rgb(230, 230, 230);
}

.actions-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.actions input {
    height: 40px; 
    width: 100%; 
    border-radius: 6px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 0 10px; 
    border: 1px solid #cacaca;
}

.add, .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    font-size: 11px;
    height: 35px;
    min-width: 111px;
}

th {    
    color: white; 
    background-color: rgb(158, 31, 31);
}

td {
    padding: 0 10px;
    font-weight: lighter;
    word-wrap: break-word;
    white-space: normal;
    word-break: normal;
    background-color: white;
}

th,
td.action form button {
    position: relative;
    font-weight: bold;
    text-transform: capitalize;
}

th.sort,
td.action form button {
    cursor: pointer;
}

th.sort:active {
    background-color: rgb(146, 21, 21);
}

.match {
    background-color: lightblue;
}

.arrow {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    font-size: 11px;
    display: inline-block;
    align-content: center;
    transition: transform 0.1s;
}

th.asc .arrow {
    transform: rotate(180deg);
}

th.desc .arrow {
    transform: rotate(0deg);
}

th.action,
td.action {
    min-width: 0;
    padding: 0;
}

td.action form,
td.action form button {
    width: 100%;
    height: 100%;
}

td.action form button {
    padding: 0 10px;
    border: none;
    text-align: center;
    font-size: 11px;
    background-color: rgb(208, 157, 18);
}

td.action form button:hover {
    color: rgb(127, 25, 4);
    text-decoration: underline;
    background-color: rgb(190, 145, 19);
}