* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
}

body {
    background: white;
    background-image: url('../images/UPANG2.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    padding: 1.5%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.logo {
    width: 100px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: rgb(169, 9, 9);
}

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon {
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    padding: 1px;
}

.icon:hover {
    background-color: rgb(218, 218, 218);
}

.icon:active {
    background-color: rgb(230, 230, 230);
}

.container {
    padding: 0 1.5% 1% 1.5%;
    width: 100%;
    margin-top: 10px;
}

.form {
    position: relative;
    border-radius: 5px;
    width: 100%;
    padding: 1% 1.5%; 
    background-color: rgba(222, 216, 216, 0.7); 
    backdrop-filter: blur(1px); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.error, .success {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 12px;
}

.error {
    color: red;
}

.success {
    color: #00a400;
}

form,
.field-group-nest .nest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit {
    position: absolute;
    padding: 4px 9px;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 16px;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(92, 10, 10);
    cursor: pointer;
}

h5 {
    color: rgb(150, 17, 17);
    width: 100%;
    margin-bottom: 10px;
    font-size: 20PX;
    font-weight: bold;
}

.field-group.normal,
.nest .field-group {
    display: grid;
    gap: 0.5rem 1rem;
    width: 100%;
    height: 100%;
}

.field-group.normal {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

.field-group-nest {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    border-bottom: 2px solid gray;
}

.nest .field-group {
    grid-template-columns: 1fr 1fr;
}

.nest {
    padding: 0.7rem 0 1rem 1rem;
}

.nest.family {
    padding-left: 0;
    padding-right: 1rem;
    border-right: 2px solid gray;
}

.field-group.emergency {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
}

.label {
    font-size: 14px;
    color: rgb(29, 14, 14);
    margin-left: 5px;
    z-index: 1;
    width: fit-content;
    display: block;
}

.field.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    min-width: 200px;
    margin: 10px 0;
}

input[type="text"] {
    text-transform: capitalize;
}

.field select,
.field input,
.field button,
.buttons .cancel {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.field select,
.field input {
    font-size: 13px;
    font-weight: 400;
    outline: none;
    padding: 0 10px;
    border: 1px solid #cacaca;
}

.field button,
.field .cancel {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(161, 15, 15);
    cursor: pointer;
    margin-top: 5px;
    max-width: 150px;
}

.field .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.field input:focus::placeholder {
    color: #9b9b9b;
}

.field input:focus {
    border: 1px solid black;
}

.edit:hover,
.field button:hover,
.field .cancel:hover {
    background-color: rgb(141, 141, 141);
}

.field button:active,
.field .cancel:active {
    background-color: rgb(155, 155, 155);
}

.field.files {
    margin-top: 25px;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #0e0505;
}

.field.files .label {
    margin-top: -17px;
    margin-bottom: 2px;
}

.field.files input {
    border: none;
    height: auto;
    width: auto;
    padding: 15px 8px;
    font-size: 14px;
}

.file-viewer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
}

.uploaded-images,
.uploaded-pdfs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.uploaded-pdfs {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.images {
    width: 100%;
    border-radius: 3px;
    height: auto;
}

.pdf {
    border: none;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.missing {
    text-align: center;
    font-size: 12px;
    color: red;
}

/* THIS SHOULD ALWAYS BE AT THE BOTTOM */
.edit.hide,
.field.files.hide,
.file-viewer.hide,
.field.buttons.hide,
.file.hide,
.cancel.hide,
.submit.hide {
    display: none;
}